/* .container {
  width: 375px;
height: 812px;
} */

.card-product {
  overflow: hidden;
  height: 90px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 2px;
}

.card-product:hover {
  box-shadow: 0 0 12px rgba(209, 206, 206, 0.36);
}

.card-product img {
  height: 82px;
  width: 82px;
  max-width: 82px;
  min-width: 82px;
  object-fit: cover;
  filter: drop-shadow(0px 2px 3px rgba(175, 175, 175, 0.9));
  border-radius: 25px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0px 0px 3px 0px;
  font-family: "Roboto", "Helvetica Neue";
  padding: 0px;
}

p {
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
  font-family: "Raleway", "Helvetica Neue";
  color: #62616a;
}

.card-product .card-product-infos {
  padding-left: 16px;
}


/* INDIVIDUAL ITEM */
.card-trip {
  overflow: hidden;
  background: white;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-trip h3 {
  font-size: 22px;
  margin: 2px 0;
  font-weight: normal;
  font-family: "Raleway", "Helvetica Neue";
  color: #4d4d4d;
}

.card-trip h4 {
  font-size: 18px;
  margin: 25px 0 5px;
  font-weight: bold;
  color: black;
  font-family: "Roboto", "Helvetica Neue";
}

.card-trip p, ul li, ol li{
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 5px;
  margin: 0px;
  font-family: "Raleway", "Helvetica Neue";
  color: black;
}

.card-trip ul, ol {
  margin: 5px 0;
  padding: 0 0 0 50px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

/* .card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
} */

body {
  padding: 0;
  margin: 0;
}

.img-star-menu {
  /* height: 300px; */
  width: 100%;
  object-fit: cover;
}

h1#delicious-meals {
  padding: 5px 0;
}

body {
  min-width: 100%;
  min-height: 100%;
}

div.appview-container {
  background-image:url(https://storage.cloud.google.com/menu_me_storage/pizza-photo-header.png);
  /* background-size:cover; */
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 300px auto;
  /* background-size: 80px 80px; */
  /* padding: 16px 16px; */
}
